<section id="section-2" class="section-2">
  <h2 class="section-2__title">3 reasons to purchase</h2>
  <article class="section-2__article">
    <h3 class="section-2__article--title">Ut sed metus</h3>
    <p class="section-2__article--paragraph">
      Lorem ipsum dolor sit, amet consectetur.
    </p>
  </article>
  <article class="section-2__article">
    <h3 class="section-2__article--title">Curabitur ac erat</h3>
    <p class="section-2__article--paragraph">
      Mauris mattis urna quis lorem molestie.
    </p>
  </article>
  <article class="section-2__article">
    <h3 class="section-2__article--title">Morbi dictum</h3>
    <p class="section-2__article--paragraph">
      Aliquam in dolor et dolor tincidunt.
    </p>
  </article>
  <div class="section-2__button">More reasons</div>
</section>
