.margin-page {
  margin: 0 15px;
  @media all and (min-width: 768px) {
    margin: 0 39px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 275px;
  }
}
@mixin images {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
    background-color: #304268;
  }
}
