.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

  &__title {
    font-size: 42px;
    font-family: $font-title;
    color: $letter-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    word-spacing: 100vw;
    // para colocarlo en su sitio
    margin-top: 250px;

    @media all and (min-width: 768px) {
      margin-top: 450px;
      font-size: 80px;
    }
    @media all and (min-width: 1200px) {
      margin-top: 550px;
      font-size: 100px;
    }
  }
  &__paragraph {
    font-size: 16px;
    font-family: $font-main;
    color: $letter-color;
    margin-top: 20px;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
    @media all and (min-width: 1200px) {
      margin: 0;
    }
  }
  &__image {
    @include icon;
    // para colocarlo abajo
    position: relative;
    top: 60px;
    @media all and (min-width: 768px) {
      top: 45px;
    }
    @media all and (min-width: 1200px) {
      top: 20px;
    }
  }
}
