.article {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // margin: 30px 15px 45px; preguntar si lo puedo poner por separado
  margin-top: 30px;
  margin-bottom: 45px;
  &__small {
    color: #8ccbea;
  }

  &__title {
    font-size: 24px;
    font-family: $font-title;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  &__paragraph {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 30px;
  }
  &__button {
    border: solid 3px $button-color;
    color: $button-color;
    font-size: 20px;
    width: 76px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    border-radius: 25px;
  }
}
