.section-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 45px;
  background-color: #eff9ff;
  text-align: center;
  &__title {
    font-size: 24px;
    font-family: $font-title;
    margin-top: 30px;
  }
  &__article {
    font-family: $font-main;
    font-size: 18px;
    &--title {
      font-family: $font-title;
      line-height: 1.5;
    }
    &--paragraph {
      margin: 0 70px;
      line-height: 1.5;
    }
  }
  &__button {
    display: block;
    margin: auto;
    font-family: $font-main;
    font-size: 20px;
    color: $letter-color;
    background-color: $button-color;
    width: 184px;
    height: 45px;
    line-height: 45px;
    border-radius: 25px;
    margin-bottom: 45px;
    transition: color 2s ease-in, background-color 2s ease-in, border 1s ease-in;
    &:hover {
      background-color: $letter-color;
      color: $button-color;
      border: solid 2px $button-color;
    }
  }
}
