.article {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 45px;
  &__small {
    color: #8ccbea;
  }

  &__title {
    font-size: 24px;
    font-family: $font-title;
    text-transform: capitalize;
    margin-bottom: 15px;
    @media all and (min-width: 768px) {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }
  &__paragraph {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 30px;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
  }
  &__button {
    border: solid 3px $button-color;
    color: $button-color;
    font-size: 20px;
    width: 76px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    border-radius: 25px;
    transition: color 2s ease-in, background-color 2s ease-in, transform 2s;
    &:hover {
      background-color: $button-color;
      color: $letter-color;
      transform: scale(1.2);
    }
  }
}
